# Data cleaning

In [44]:
# Importing libraries
import pandas as pd
import numpy as np

In [45]:
# Importing the datasets
games = pd.read_csv('Datasets/metacritic_game_info.csv')
comments = pd.read_csv('Datasets/metacritic_game_user_comments.csv')

## Games

In [46]:
# Taking a look at the dataset and dropping this column
games.drop('Unnamed: 0', axis = 1, inplace = True)
games

,Title,Year,Publisher,Genre,Platform,Metascore,Avg_Userscore,No_Players
0,The Legend of Zelda: Ocarina of Time,1998,Nintendo,Action Adventure;Fantasy,Nintendo64,99,9.1,1 Player
1,Tony Hawk's Pro Skater 2,2000,NeversoftEntertainment,Sports;Alternative;Skateboarding,PlayStation,98,7.4,1-2
2,Grand Theft Auto IV,2008,RockstarNorth,Action Adventure;Modern;Modern;Open-World,PlayStation3,98,7.5,1 Player
3,SoulCalibur,1999,Namco,Action;Fighting;3D,Dreamcast,98,8.6,1-2
4,Grand Theft Auto IV,2008,RockstarNorth,Action Adventure;Modern;Modern;Open-World,Xbox360,98,7.9,1 Player
...,...,...,...,...,...,...,...,...
4995,Donut County,2018,BenEsposito,Action Adventure;General,PC,77,8.1,No Online Multiplayer
4996,MotorStorm: Apocalypse,2011,EvolutionStudios,Driving;Racing;Simulation;Rally / Offroad;Rall...,PlayStation3,77,7.7,4 Online
4997,The Last Guy,2008,SCEJapanStudio,Action Adventure;Sci-Fi;Sci-Fi;General,PlayStation3,77,6.8,1 Player
4998,Valiant Hearts: The Great War,2014,UbisoftMontpellier,Platformer;2D;Action;Platformer;2D,PlayStation4,77,8.4,not specified
4999,Mothergunship,2018,GripDigital,Action;General,XboxOne,77,7.2,Online Multiplayer

In [47]:
# Checking the data types
games.dtypes

Title            object
Year             object
Publisher        object
Genre            object
Platform         object
Metascore        object
Avg_Userscore    object
No_Players       object
dtype: object

In [48]:
# Checking for nulls
games.isna().sum()

Title            0
Year             0
Publisher        0
Genre            0
Platform         0
Metascore        0
Avg_Userscore    0
No_Players       7
dtype: int64

In [49]:
#avg_metascore = games.groupby('Title').agg({'Metascore': 'mean'})
#avg_metascore

## Comments

In [50]:
# Try to see, at a later point, if we can have like a count of words or something for each game
# to see the most used words

In [51]:
# Taking a look at the dataset and dropping this column
comments.drop('Unnamed: 0', axis = 1, inplace = True)
comments

,Title,Platform,Userscore,Comment,Username
0,The Legend of Zelda: Ocarina of Time,Nintendo64,10,"Everything in OoT is so near at perfection, it...",SirCaestus
1,The Legend of Zelda: Ocarina of Time,Nintendo64,10,I won't bore you with what everyone is already...,Kaistlin
2,The Legend of Zelda: Ocarina of Time,Nintendo64,10,Anyone who gives the masterpiece below a 7 or ...,Jacody
3,The Legend of Zelda: Ocarina of Time,Nintendo64,10,I'm one of those people who think that this is...,doodlerman
4,The Legend of Zelda: Ocarina of Time,Nintendo64,10,This game is the highest rated game on Metacr...,StevenA
...,...,...,...,...,...
283978,Etrian Odyssey Untold: The Millennium Girl,3DS,7,"Extremely similar to EO:4, which obviously isn...",RileyWRussell
283979,Etrian Odyssey Untold: The Millennium Girl,3DS,0,Typical overrated Atlus trash. A game i should...,TemplarGR
283980,Etrian Odyssey Untold: The Millennium Girl,3DS,9,While I find the story mode to have annoying c...,midipon
283981,Etrian Odyssey Untold: The Millennium Girl,3DS,8,"Pretty good, but it certainly lacks the visual...",night4
283982,Etrian Odyssey Untold: The Millennium Girl,3DS,9,"As my first game from the ""Etrian series"" i ha...",Balorer

In [52]:
# Checking the data types
comments.dtypes

Title        object
Platform     object
Userscore     int64
Comment      object
Username     object
dtype: object

In [53]:
# Checking for nulls
print(comments.isna().sum(), '\n')

# Dropping the nulls
comments.dropna(inplace = True)

# Checking again. All good
print(comments.isna().sum())

Title         0
Platform      0
Userscore     0
Comment      23
Username      3
dtype: int64

Title        0
Platform     0
Userscore    0
Comment      0
Username     0
dtype: int64

In [33]:
avg_user_score = comments.groupby('Title').agg({'Userscore': 'mean'})
avg_user_score

                                  Userscore
Title
'Splosion Man                      8.687500
007: The World is Not Enough       7.200000
2010 FIFA World Cup South Africa   7.687500
3D After Burner II                 8.000000
3D Gunstar Heroes                  8.750000
...                                     ...
escapeVektor: Chapter 1            9.000000
flower                             7.296774
ilomilo                            8.500000
inFamous                           8.360269
inFamous 2                         8.753138

[2325 rows x 1 columns]

In [34]:
comments['Comment'][0]

'Everything in OoT is so near at perfection, its really no wonder that this game has such a huge fanbase and is so highly rated among players and critics.'